#cate-box li:first-child s{
    background-position:0 -1180px;
}
#cate-box li:first-child:hover s{
    background-position:-20px -1180px;
}
#cate-box li:nth-child(2) s{
    background-position:-80px -820px;
}
#cate-box li:nth-child(2):hover s{
    background-position:-100px -820px;
}
#cate-box li:nth-child(3) s{
    background-position:-80px -840px;
}
#cate-box li:nth-child(3):hover s{
    background-position:-100px -840px;
}
#cate-box li:nth-child(4) s{
    background-position: -40px -800px;
}
#cate-box li:nth-child(4):hover s{
    background-position:-60px -800px;
}
#cate-box li:nth-child(5) s{
    background-position:-80px -860px;
}
#cate-box li:nth-child(5):hover s{
    background-position:-100px -860px;
}
#cate-box li:nth-child(6) s{
    background-position:-40px -820px;
}
#cate-box li:nth-child(6):hover s{
    background-position:-60px -820px;
}
#cate-box li:nth-child(7) s{
    background-position:-40px -840px;
}
#cate-box li:nth-child(7):hover s{
    background-position:-60px -840px;
}
#cate-box li:nth-child(8) s{
    background-position:0 -980px;
}
#cate-box li:nth-child(8):hover s{
    background-position:-20px -980px;
}
#cate-box li:nth-child(9) s{
    background-position:-40px -860px;
}
#cate-box li:nth-child(9):hover s{
    background-position:-60px -860px;
}
#cate-box li:nth-child(10) s{
    background-position:-40px -880px;
}
#cate-box li:nth-child(10):hover s{
    background-position:-60px -880px;
}
#cate-box li:last-child s{
    background-position:-40px -900px;
}
#cate-box li:last-child:hover s{
    background-position:-60px -900px;
}